# dependencies
node_modules/
**/node_modules/

# env
.env
.env.local
.env.*.local
**/.env
**/.env.local
**/.env.*.local

# build output
dist/
build/
**/dist/
**/build/
*.tsbuildinfo
**/*.tsbuildinfo

# logs
*.log
npm-debug.log*

# editor/OS
.DS_Store
.vscode/*
!.vscode/extensions.json
